* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #fff;
    height: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
}

.bgimage {
    background-image: url('../images/him-image.jpg');
    background-position: center center;
    background-size: cover;
    height: 1000px;
}

header h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

header h2 {
    color: yellow;
    font-weight: bold;
    line-height: 8em;
    text-align: center;
    vertical-align: middle;
}

.leftsec {
    width: 20%;
    height: 100%;
    float: left;
}

.rightsec {
    float: right;
    width: 80%;
    height: 100%;
}

h3 {
    padding: 25px;
    color: black;
    font-weight: bold;
    ;
}

.leftsec ol li a {
    line-height: 3em;
    color: darkgreen;
}

.mainsec h1 {
    color: white;
    line-height: 2em;
}

.mainsec p {
    color: grey;
    line-height: 2em;
}

.login-form {
    width: 500px;
    margin-top: 50px;
}

.login-form form {
    margin-bottom: 15px;
    background: #493B0F;
    color: white;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.footercontainer {
    position: relative;
    min-height: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    padding: 10px;
}
